<main class="container-fluid">
    <div class="col-md-5 col-md-offset-2" >

        <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">
                Curricula
                <a href="/curricula/create">
                <button class="btn btn-success pull-right" >
                    Create Curriculum 
                </button>
                </a>
            </div>    


            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/curricula/cur_edit">
                            linear-algrebra-fall-14
                    </a>
                </li>
                
                <li class="list-group-item">
                    <a href="">
                            discrete-math-spring-15
                    </a>
                </li>
            </ul>
        </div>

    </div>
</main>