<main class="container-fluid">
    <div class="col-md-5 col-md-offset-2" >

        <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">
                Curricula
                <a href="/curricula/create">
                <button class="btn btn-success pull-right" >
                    Create Curriculum 
                </button>
                </a>
            </div>    


            <div class="list-group">
                <a href="/curricula/cur_edit" class="list-group-item">
                    <h4 class="list-group-item-heading">linear-algrebra-fall-14</h4>
                    <p class="list-group-item-text">Curricula for Linear Algebra</p>
                </a>
                <a href="" class="list-group-item">
                    <h4 class="list-group-item-heading">discrete-math-spring-15</h4>
                    <p class="list-group-item-text">Discrete Math Description here</p>
                </a>
            </div>
        </div>
        
    </div>
</main>