<div class="btn-group-vertical">
  <% unless @users.blank? %>
    <% @users.each do |u| %>
      <% @name = u.username %>
      <button type="button" class="btn btn-default" value="<%= u.username %>">
        <%= u.username %>
      </button>
    <% end %>
  <% end %>
</div>
  