<% if @number_of_curriculum_matches == 0 %> 
  <strong> No Matching Curriculums Found</strong>
  <br>
<% else %>
  <% for c in @curricula %>
    <div class="media">
      <a class="pull-left" href='#'>
        <span class="glyphicon glyphicon-book glyphicon-2x"></span>
      </a>

      <div class="media-body">
        <h4 class="media-heading">
          <%=link_to("#{c.creator.username}/#{c.cur_name}", curricula_path(:id => c.id))%>
        </h4>
        <%= c.cur_description %>

        <button class="btn btn-primary btn-no-padding pull-right" >
          Follow Curriculum 
        </button>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>