<h3>Users</h3>
  <ul>
  	<%if @numberOfMatches==0%>
  		<strong> No Match Found</strong>
  	<%else%>
    	<% for r in @users%>
      		<li>
          	<strong><%= r.username %></strong> <br> <strong><%= r.name %></strong>
      		</li>
           <%= render "devise/shared/links" %>
    	<% end %>
    <%end%>
  </ul>
