<%if@numberOfMatches==0%>
	<h3> No Match Found</h3>
<%else%>
	<h3>Users</h3>
  <ul>
    	<% for r in @users%>
      		<li>
          	<strong><%= link_to(r.name, users_show_path(:username => r.username))%></strong><br><%= r.username %>
          </li>

    	<% end %>
  </ul>
<%end%>


