<%if @contributors.blank?%>
  <div class="list-group-item">No Contributors</div>
<%else%>
  <%@contributors.each do |c| %>

    <div class="list-group-item" title="Click the minus sign to remove the contributor">
      <h4><%=c.user.username%><%= link_to curricula_contributors_path(:user => c.user.username, :curriculum => @curricula.id, :task =>'remove'), :remote => true do %>
          <h5 class="glyphicon glyphicon-minus pull-right" id="remove_<%= c.user.username %>"></h5>
        <% end %> 
      </h4>
    </div>
  <% end %>
<%end%>