<div class="list-group">
  <% unless @users.blank? %>
    <% @users.each do |u| %>
      <% @name = u.username %>
      <a href="#" class="list-group-item" value="<%= u.username %>" title="Click to select user"  id="<%= u.username %>">
        <%= u.username %>
      </a>
    <% end %>
  <% end %>
</div>
  