<div class="col-md-8 col-md-offset-1">

    <div class="row">
        <ol id="breadcrumb" class="breadcrumb">
            <li><a href="#" id="brlink"> <%= @creator.username %> </a></li>
            <li><a href="#" id="brlink"> <%= @curriculum.cur_name %> </a></li>
        </ol>
    </div>

    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">

                <div class="panel-title">

                    Branch Name

                    <div class = 'btn-group pull-right'>
                        <button class = 'btn btn-success dropdown-toggle' data-toggle = 'dropdown'>Choose Branch <span class = 'caret'></span></button>
                        <ul class = 'dropdown-menu'>
                            <li><a href="#">master</a></li>
                            <li><a href="#">frank-creating-syllabus</a></li>
                        </ul>
                    </div>​
                </div>

            </div>

            <div class="panel-body">

                <ul class="list-unstyled">

                    <li>
                        <h5 class="glyphicon glyphicon-folder-close"> 
                            Powerpoint Files
                        </h5>
                    </li>

                    <li>
                        <h5 class="glyphicon glyphicon-file"> 
                            Syllabus
                        </h5>
                    <li>

                </ul>

            </div>

        </div>
    </div>

</div>

<div class="col-md-3" style="text-align:center;">

    <div class="row" style="padding-bottom: 10px;">

        <a data-toggle="modal" href='#create-branch' class="btn btn-success" style="width: 150px;">
            Create Branch   
        </a>

    </div>

    <div class="row" style="padding: 10px;">
      <%= link_to "Change History", c_commit_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">

        <a href='/Requests' class="btn btn-success" style="width: 150px;">
            Requests
        </a>

    </div>

    <div class="row" style="padding: 10px;">

        <a href='/Sources' class="btn btn-success" style="width: 150px;">
            Sources
        </a>

    </div>

    <div class="row" style="padding: 10px;">

        <a href='/Wiki' class="btn btn-success" style="width: 150px;">
            Wiki
        </a>

    </div>

</div>

<div class='modal fade' id='create-branch' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title'>Create Branch</h4>
            </div>
            <div class='modal-body'>
                <div class='container'>
                    <form role='form' action='' method='post'>

                        <div class='form-group'>
                            <label>Branch Name:</label>
                            <input type="text" class="form-control">   
                        </div>

                        <input type='submit' value='Submit' class='pull-right btn btn-info'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
