/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#profile-panel-heading {
   padding-bottom: 20px;
}

#avatar {
    border-radius: 10px;
}

.hr-margins {
  margin-top: 0px;
  margin-bottom: 5px;
}

.nav-pills > .active > a {
    outline: 0 !important;
}