/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.badge-success {
  background-color: #3a87ad;
}

.list-group-item>.badge {
float: right;
margin-top: 5%;
}

.glyphicon-2x {
    font-size: 64px;
}

