/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



#splash-top-row {
	background: url("escheresque_ste.png") repeat scroll 0% 0% transparent;
    min-height: 300px;
    position: relative;
    margin-top: -20px;
}

.text-color-white{
	color: #FFFFFF;
}

.content {

}

#buffer {
    height: 75px;
}

#remember-me{
    margin-top: 15px;
}
